body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    color: #ffffff;

}

h1 {
    margin-bottom: 50px;
    font-size: 1.8em;
}

#right-pane {
    width: 55vw;
    margin: none;
    background: url(/images/pexels-phone-headphones.jpg);
    background-position: center center;
    min-width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  

}

#left-pane {
    width: 45vw;
    margin: none;
    padding-top: 40px;
    min-width: 400px;
    background-color: #f4f1de;
}

form { 
    width: 85%;
    display: block;
    margin: 10px auto 10px auto;
    min-width: 300px;
    border-radius: 10px;
    background-color: rgba(1, 42, 20, 0.9);
}


.info {
    width: 100%;
    display: block;
    max-width: 500px;
    margin-top: 35px;
    border: none;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    background-color: inherit;
    padding-top: 10px;
    outline: none;
    font-weight: 700;
    color: #ffffff;
    font-size: 1em;
}



.remember{
    display: inline-block;
    width: 70%;
   
}

a {
    color: #ff9204;;
    text-decoration: none;
}



.recovery {
    display: inline-block;
    width: 30%;
    font-size: 0.7em;
    font-weight: 700;
}


fieldset {
    border: none;
    width: 70%;
    margin: 0 auto;
   
}

legend {
    text-align: center;
    padding: 10px;
    color: grey;
}

.legend-text {
    border-top: 2px solid grey;
    width: 70%;
}

.button {
    width: 100%;
    display: block;
    margin: 20px auto;
    height: 50px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(0, 0, 0);
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    
}

button {
    color: #ffffff;
    background-color: blue;
    border: none;
    font-size: 1em;
    font-weight: 700;
}

button + p {
    text-align: center;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #ff9204;
    color: #ffffff;
    font-weight: 700;
     
}

button:active {
    color: #ffffff;
    background-color: #000814;
}